$transition: cubic-bezier(0.950, 0.050, 0.795, 0.035);

#masthead {
    z-index: 10000;
    // background-color: rgba(255, 255, 255, 0.100);
    width: 100%;
    position: fixed;
    top: 0px;

    &.site-header {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: white;
        overflow: hidden;
        width: 400px;
        max-width: 80%;
        padding: 20px;
        transform: translate3d(-100%, 0, 0);
        --webkit-transform: translate3d(-100%, 0, 0);
        transition: 0.25s $transition;
        --webkit-transition: 0.5s $transition;
        &.expanded {
            transform: translate3d(0, 0, 0);
            --webkit-transform: translate3d(0, 0, 0);
        }
    }

    .container {
        height: 100vh;
        // justify-content: space-between;
        // align-items: center;
        display: block;
        background-size: contain!important;
    }

    .site-branding .site-title h1 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        margin: 0;       
    }
    .site-branding p {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        margin: 0;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .main-menu {
        list-style: none;
        margin: 0;

        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        display: block;
        border: none;
        padding-left: 0px;
    }

    .menu-item {
        margin: 0 0 40px 0;
        display: block;

        a:hover {
            border-bottom: 0.1em solid currentColor;
            -webkit-transition: all 0.05s linear;
            transition: all 0.05s linear;
        }
    }
    
    .menu-item:nth-child(1) {
        margin-left: 0;
    }

    .header-progress {
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        /* width: 100%; */
        height: 2px;
        /* background: white; */
        width: 0%;
    }
}

%place {
    position: absolute;
}

.topleft {
    @extend %place;
    top: 0;
    left: 0;
}

.topright {
    @extend %place;
    top: 0;
    right: 0;
}

%toggler-close-transform-origin {
    $origin: 4px 1px;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

.site-header-toggler {
    width: 65px;
    color: black;
    z-index: 9999;

    padding: 25px;
    > span {
        -webkit-transition: all 0.05s linear;
        transition: all 0.05s linear;
        width: 100%;
        height: 2px;
        background: black;
        margin: 3px 0;
        display: block;
    }
    &.close-menu {
        > span:nth-child(1) {
            opacity: 0;
        }
        > span:nth-child(2) {
            @extend %toggler-close-transform-origin;
            transform: rotate3d(0,0,1,45deg);
            --webkit-transform: rotate3d(0,0,1,45deg);
        }
        > span:nth-child(3) {
            @extend %toggler-close-transform-origin;
            transform: rotate3d(0,0,1,-45deg);
            --webkit-transform: rotate3d(0,0,1,-45deg);
        }
    }
}

.m {
    &.m-10 {
        margin: 10px 0;
    }
}

h1.site-title {
    margin: 0 0 20px 0;
}

h1.site-title.with-toggler {
    margin: 8px 60px;
}

p.site-title.with-toggler {
    margin: 20px 60px;
}