.share-interview {
	margin-top: auto;
	margin-bottom: auto;
	max-width: 620px;
	padding-top: 48px;
	padding-bottom: 128px;

	.line {
		height: 3px;
		width: 40px;
        display: block;
        margin-bottom: 24px;
	}
	
	h5 {
		font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		height: auto;
		padding: 0;
		margin: 0 0 16px 0;
	}
	
	.social-buttons {
		margin-top: 24px;

		a {
			border-bottom: none;
            text-decoration: none;
            
            &:first-child {
                margin-right: 8px;
            }
			
			svg {
				height: 30px;
			}
		}
	}
}